{% extends "::base.html.twig" %}

	{% block title %}Welcome{% endblock %}

	{% block body %}

		<div class="container">

			{% trans_default_domain 'FOSUserBundle' %}

				{% block fos_user_content %}

				    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

				    {% if targetUrl %}
				    	<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
				    {% endif %}

				    <a href="{{ path('user_homepage') }}">Homepage</a>

				{% endblock fos_user_content %}
		</div>

	{% endblock %}